[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/django_ci_cd/app
ExecStart=/var/lib/jenkins/workspace/django_ci_cd/env/bin/gunicorn \
          --error-logfile /var/lib/jenkins/workspace/django_ci_cd/error.log - \
          --workers 3 \
          --capture-output --log-level-debug \
          --bind unix:/run/gunicorn.sock \
          app.wsgi:application